redis
python-dotenv
elasticsearch-dsl==8.18.0
elasticsearch==8.18.0
elastic-transport==8.17.1
python-dateutil==2.9.0.post0
urllib3==2.2.3
Django>=3.2,<4.0
gunicorn
djangorestframework==3.12.4
django-allauth
requests
PyJWT
cryptography
channels>=3.0,<4.0
django-cors-headers
geocoder
elasticsearch django-elasticsearch-dsl

